<!DOCTYPE html>
<html lang="pl" firstload="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Skurc.se czyli strona do skracania długich linkow.">
    <title>Skruć se</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/theme.js" defer></script>
    <script src="/js/index.js" defer></script>
</head>

<body class="no-transition">

    <div class="theme-switcher">
        <input type="checkbox" id="theme-switch" class="theme-checkbox">
        <label for="theme-switch" class="theme-label">
            <svg class="alien-icon" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                <path class="path-0" fill="#ccd6dd"
                    d="M35 17c0 9.389-13.223 19-17 19c-3.778 0-17-9.611-17-19S8.611 0 18 0s17 7.611 17 17" />
                <path class="path-1" fill="#292f33"
                    d="M13.503 14.845c3.124 3.124 4.39 6.923 2.828 8.485s-5.361.297-8.485-2.828c-3.125-3.124-4.391-6.923-2.828-8.485s5.361-.296 8.485 2.828m8.994 0c-3.124 3.124-4.39 6.923-2.828 8.485s5.361.297 8.485-2.828c3.125-3.125 4.391-6.923 2.828-8.485c-1.562-1.562-5.361-.297-8.485 2.828M18 31c-2.347 0-3.575-1.16-3.707-1.293a.999.999 0 0 1 1.404-1.424c.051.047.806.717 2.303.717c1.519 0 2.273-.689 2.305-.719a1.007 1.007 0 0 1 1.408.029a.993.993 0 0 1-.006 1.396C21.575 29.84 20.347 31 18 31" />
            </svg>
        </label>
    </div>

    <h1>Skruć <span class="primary-color">se</span></h1>

    <form id="url-form" class="flex-col w-0">
        <div class="input-container">
            <input id="long-url-input" class="input-0" name="url" type="text" placeholder=" " required>
            <label for="long-url-input" class="label-0">Wklej tu długi link</label>
        </div>
        <div class="input-container">
            <input id="url-name-input" class="input-0" name="name" type="text" placeholder=" ">
            <label for="url-name-input" class="label-0">Twoja nazwa linku(opcjonalna)</label>
        </div>
        <button>Skruć se</button>
    </form>

    <div id="server-result" class="mt flex-col w-0"></div>
    <div id="user-data" class="mt flex-col"></div>
</body>

</html>