<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Załóż konto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/register.js" defer></script>
</head>

<body>
    <h2>Załóż konto</h2>
    <p id="message" class="hidden"></p>
    <form id="register-form">
        <div class="input-container">
            <input id="username-input" class="input-0" name="username" type="text" placeholder=" " required>
            <label for="username-input" class="label-0">Nazwa użytkownika</label>
        </div>
        <div class="input-container">
            <input id="password0-input" class="input-0" name="password0" type="password" placeholder=" " required>
            <label for="password0-input" class="label-0">Hasło</label>
        </div>
        <div class="input-container">
            <input id="password1-input" class="input-0" name="password1" type="password" placeholder=" " required>
            <label for="password1-input" class="label-0">Powtórz hasło</label>
        </div>
        <button class="btn-0">Załóż konto</button>
    </form>
    <span class="mt">Masz już konto? <a href="/login">Zaloguj się</a></span>
    <a class="mt" href="/">Srona domowa</a> 
</body>

</html>